body {
    font-family: 'Georgia', serif;
    background-color: #fdfcf8;
    color: #333;
    padding: 2em;
    max-width: 75%;
    margin: auto;
    line-height: 1.6;
  }
  h1 {
    text-align: center;
    font-size: 3em;
  }
  p {
    text-indent: 1.5em;
    margin: 1em;
    font-size: 1.5em;
    text-align: justify;
  }
  .firma {
    text-align: right;
    font-style: italic;
    margin-top: 3em;
  }
  /*
    .dialogo {
    margin-left: 2em;
    font-style: italic;
    color: #444;
  }
  */
  .glosario {
    font-size: 0.8em;
    margin-top: 2em;
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 5px;
  }
  @media(max-width: 500px) {
    body {
      padding: 0;
      max-width: 98%;
    }
    h1{
      font-size: 2em;
    }
    p {
      margin: 0.3em;
      font-size: 1em;
    }
  }